{% extends "layout.twig" %}

{% block content %}
<br>
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading">Please sign in</h2>
    {% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
    <div class="control-group">
        <input name="email" type="text" class="input-block-level" placeholder="Email address">
    </div>
    <div class="control-group">
        <input name="password" type="password" class="input-block-level" placeholder="Password">
    </div>
    <div class="control-group">
        <label class="checkbox">
            <input name="rememberme" type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <div class="control-group row-fluid">
        <button class="btn btn-large btn-primary span12" type="submit">Enter</button>
    </div>
</form>
{% endblock %}
